.home {
    height: 100%;
    padding-top: 40vh;
    text-align: center;
    background-image: linear-gradient(to right, rgba($primary-color, 0.3), rgba($primary-color, 0.9)), url(../img/my-img.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    &__name {
        font-size: 4rem;
        margin-bottom: 1rem;
        padding-bottom: 1rem;
        border-bottom: 2px solid set-text-color($primary-color);
        &--last {
            color: $secondary-color;
            font-weight: 900;
        }
    }
}