.resume{
    height: 100%;
    padding-top: 40vh;
    text-align: center;
    background-image: linear-gradient(to right, rgba($primary-color, 0.6), rgba($primary-color, 0.9)),
        url(../img/my-img.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    h2 {
        font-size: 3rem;
        margin-bottom: 2rem;
    }
    a{
        padding: 10px 20px;
        
        border: 2px solid $secondary-color;
        font-weight: bold;
        font-size: larger;
        background-color:$secondary-color;
        color: #ffff;
       
        &:hover{
            border: 2px solid #ffff;
            background-color: transparent;
            border: 2px solid $secondary-color;
            
        }
    }
}
